*{
    margin: 0;
    padding: 0;
}

body{
    background: rgba(82, 236, 141, 0.267);
    height: 100vh;
    text-transform: capitalize;
}

.container{
    margin: 0 auto;
    max-width: 750px;
    min-width: 480px;
    text-align: center;
    padding: 10px 0;
}